*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Lato', sans-serif;
}



/* Common Shared Style */
.container{
    max-width: 80%;
    margin: 0px auto;
}
.section_title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.description{
    color: rgba(39,39,39,0.60);
    font-size: 18px;
    font-weight: 400;
}
.btn_primary{
    padding:18px 40px;
    border-radius: 8px;
    color: #fff;
    background: #e55473;
    border: 0;
    font-size: 22px;
    font-weight: 700;
}



/* Header Section */
header{
    background: rgba(229,84,115,0.10);
    width: 1920px;
    height: 850px;
}
.header_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.header_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:32px;
}
.header_title{
    font-size: 80px;
}
.header_area p{
    text-align: left;
    margin-left: 0;
}
.header_img{
    margin-top: 50px;
}


/* Main Section */

/* Out Feature Section */
.Our_feature{
    margin:100px 0px;
}
.Our_feature h2,p{
    text-align: center;
    margin: 24px;
}
.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:48px auto;
}
.category_image{
    width: 464px;
    height: 538px; 
    margin-bottom: 0px;
}


.category_image1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.category_image2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.category_image3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* Our Service Section */
.our_service{
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 50px;
}
.service_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

}
.service_details{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
    margin-top: 50px;
}
.service_details img{
    width: 100px;
    height: 80px;
}
.service_details p{
    text-align: left;
    margin-left: 0;
}

/* Hot Deal Section */

.hot_deal_area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 429px;
    margin: 128px 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot_deal_info{
    text-align: center;
}

/* Instagram Section  */
.instragram_text{
    width: 200px;
    border-bottom: 5px solid #e55473;
}
.instagram_card{
    margin-top: 48px;
}
.instagram_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instagram_card_image {
    border-radius: 15px;
}


/* Get the latest Deal Section */
.get_latest_deal{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; */
    width: 100%;
    background-image: url('../image_and_icons/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin:150px auto;
    border-radius: 15px;
}
.get_latest_deal_area{
    text-align: center;
    margin:auto;
    padding:122px 287px;
}

.get_latest_deal input[type="email"]{
    border: 0;
    width: 800px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.1);
}
.mailbox{
    display: flex;
    gap:15px
}
::placeholder{
    padding:22px 213px 22px 22px ;
}

/* Our Team Section */
#our_team{
    width:180px;
    border-bottom: 5px solid #e55473;
    margin:auto;
    border-radius: 5px;
}
.team_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px 0px;

}

.team_details img{
    width: 200px;
    border-radius: 50%;
}
.team_details h4, p{
    text-align: center;
    margin-top: 10px;
}


/* Footer Section */
.footer_area{
text-align: center; 
color: #fff;
background: #111010;
padding:128px 0px;
}
.footer_area h2{
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;;
}
.footer_area h2 span{
    color: #E55473;
}
.footer_area p{
    color:#fff;
    line-height: 1.6;
}
.copywrite_message{
    color: rgba(255, 255, 255, 0.40);
}